{% from 'bootstrap/nav.html' import render_nav_item %}

<!doctype html>
<html lang="pt-br">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Site do artista Estevão da Fontoura">
    <meta name="author" content="Rodrigo Baltazar">
    <link rel="icon" href="../../favicon.ico">

    
      {% block styles %}
      <!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }}
        {{ bootstrap.load_js() }}
      {% endblock %}
    {% endblock %}
  </head>

<body>
  {% block navbar %}
  <div class="container">
    <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
          <a class="text-muted" href="#">Inscreva-se</a>
        </div>
        <div class="col-4 text-center">
          <a class="blog-header-logo text-dark" href="#">Estevão da Fontoura</a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <a class="btn btn-sm btn-outline-secondary" href="#">Sign in</a>
        </div>
      </div>
    </header>
  <!-- Inicio Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              PORTFOLIO
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SOBRE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">OPÇÃO_EXTRA</a>
          </li>
        </ul>
      </div>
    </nav>
    
  {% endblock %}
<!-- Fim navbar -->
  
</body>
</html>